/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styling for webpage */

:root {
  /*primary colors*/
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /*neutral colors*/
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  /*padding and margins*/
  --site-padding: 0.85rem;
  --column-gap: 1rem;
  --row-gap: 3.25rem;
  --font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  color: var(--dark-grayish-blue);
  width: 100vw;
  padding: var(--site-padding);
}

p {
  font-size: 1rem;
}

.largeTitle {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--very-dark-blue);
  text-transform: uppercase;
}

.mediumTitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--soft-orange);
}

.smallTitle {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* button styling */

button {
  background-color: var(--soft-red);
  color: var(--off-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: 3px;
  padding: 1rem;
  width: 100%;
  max-width: 175px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:active,
button:hover,
button:focus {
  background-color: var(--very-dark-blue);
}

/* links */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
  text-emphasis: none;
  text-decoration: none;
}

/* header */

.topBar {
  width: 100%;
  max-width: 1440px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logoBox {
  height: 100%;
  margin-right: 50px;
  overflow: hidden;
}

.logoImg {
  height: 100%;
}

.navList {
  display: none;
  align-items: center;
  column-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLi {
  font-size: 0.85rem;
  text-align: center;
}

.navLink {
  width: 100%;
  height: 100%;
  color: inherit;
}

.navLink:hover,
.navLink:focus,
.navLink:active {
  color: var(--soft-red);
}

.mobileMenu {
  width: 30px;
  height: 100%;
}

/* main site styling */

.siteContainer {
  width: 100%;
  max-width: 1440px;
  grid-template-columns: minmax(250px, 1fr);
  row-gap: var(--row-gap);
  padding-bottom: 25%;
}

.groupContainer {
  width: 100%;
  grid-template-columns: 1fr;
  row-gap: 10px;
  text-align: left;
}

.heroGroup p {
  margin-bottom: 2rem;
  line-height: 1.75;
}

.asideGroup {
  background-color: var(--very-dark-blue);
  padding: 20px;
}

.asideGroup .sectionTitle {
  margin: 10px 0px;
}

.asideArticle {
  position: relative;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  margin: 20px 0px;
}

.asideGroup .articleLink {
  color: var(--off-white);
}

.asideGroup {
  color: var(--grayish-blue);
  font-weight: lighter;
}

.asideGroup .articleLink:hover,
.asideGroup .articleLink:focus,
.asideGroup .articleLink:active {
  color: var(--soft-orange);
}

.articleTitle {
  font-size: 1.25rem;
}

.subheading {
  font-size: 0.9rem;
  line-height: 1.5;
}

.asideArticle:nth-child(2)::after,
.asideArticle:nth-child(3)::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  background: var(--dark-grayish-blue);
  width: 100%;
  bottom: -25px;
}

/*article boxes*/
.topArticles {
  row-gap: 25px;
}

.articleBox {
  width: 100%;
  height: 175px;
  column-gap: 20px;
}

.articleImg {
  height: 100%;
}

.articleInfo {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.75;
  row-gap: 5px;
  justify-content: flex-start;
}

.rank {
  color: var(--grayish-blue);
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  line-height: 1.75;
}

.topArticles .articleLink {
  color: var(--very-dark-blue);
}

.topArticles .articleLink:hover,
.topArticles .articleLink:focus,
.topArticles .articleLink:active {
  color: var(--soft-red);
}

@media only screen and (min-width: 768px) {
  :root {
    --column-gap: 1.25rem;
    --site-desktop-padding-side: 5%;
    --side-desktop-padding-top-bottom: 5%;
  }

  body {
    padding: var(--side-desktop-padding-top-bottom)
      var(--site-desktop-padding-side);
  }

  .topBar {
    margin-bottom: 2rem;
  }

  .mobileMenu {
    display: none;
  }

  .navList {
    display: flex;
    align-items: center;
    column-gap: 2.25rem;
  }

  .siteContainer {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    align-items: flex-start;
    padding-bottom: unset;
  }

  .heroGroup {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--column-gap);
    grid-row-gap: 2rem;
  }

  .heroGroup .imgContainer {
    height: fit-content;
    object-fit: cover;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .heroGroup .sectionTitle {
    grid-column: 1;
  }

  .heroGroup .sectionText {
    grid-column: 2;
  }

  .asideGroup {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .topArticles {
    grid-row: 3;
    grid-column: 1 / 4;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: var(--column-gap);
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --column-gap: 1.5rem;
    --row-gap: 4.5rem;
    --site-desktop-padding-side: 10%;
    --side-desktop-padding-top-bottom: 5%;
  }
}
